.register, .login {
    position: absolute;
    width: 500px;
    padding: 20px 0 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
}

h1 {
    position: relative;
    margin: 20px 0 10px 0;
    font-family: "open sans";
    font-weight: 300;
}

input {
    width: 390px;
    height: 40px;
    margin: 5px 0 5px 0;
    padding-left: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    transition: .1s ease-out;
    background-color:#eee;
}

.text:hover {
    background-color: #e6e6e6;
}

.text:focus {
    padding-left: 12px;
    width: 388px;
}

.submit {
    margin-bottom: 20px;
    width: 400px;
    background-color: #3399ff;
    color: #fff;
}

.submit:hover {
    background-color: #0066ff;
}

a {
    text-decoration: none;
}