.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.navbar h1 {
  margin: 0 0 0 50px;
  float: left;
}

.navbar h1 a {
  text-decoration: none;
  color: #eee;
}

.navbar ul {
  position: relative;
  margin: 0 50px 0 0;
  float: right;
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #eee;
}
