.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "header header"
    "infobox changePassword";
}

.header {
  grid-area: header;
}

.infobox {
  grid-area: infobox;
}
.changePassword {
  grid-area: changePassword;
}

.profile h1 p {
  margin: 0;
  color: #eee;
}
